{
  "IsEncrypted": false,
  "Values": {
    "AzureWebJobsStorage": "",
    "FUNCTIONS_WORKER_RUNTIME_VERSION": "7.4",
    "FUNCTIONS_WORKER_RUNTIME": "powershell",

    "ITGAPIURL_WHITELIST": "https://api.itglue.com, https://api.eu.itglue.com, https://api.au.itglue.com, API_FORWARDER_URL_HERE",
    "ITG_PRIMARY_API_URLS": "https://api.itglue.com, https://api.eu.itglue.com, https://api.au.itglue.com",
    "SCRIPTS_LAST_RUN_ASSET_TYPE_ID": "",

    "ITG_API_Forwarder_APIKey": ""
  }
}
